// Colors
:root {
    // Accents
    --accent-main: #e86f54;
    --accent-main-hover: #EB866F;

    // Text colors
    --text-main: #000;
    --text-main-transparent: #00000075;
    --text-secondary: #FFF;

    // Background colors
    --background-main: #FFF;
    --background-secondary: #000;

    // Icon colors
    --icon-black: #0E0E0E;
    --icon-white: #FFF;
}