.banner {
  &__elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    margin: 44px 0 0 0;
  }

  &__image {
    width: 50%;
    max-width: 390px;
  }

  &__text {
    display: none;
    width: 25%;
    max-width: 160px;
    text-align: center;

    @include screen(small) {
      @include font('montserrat', '20', 'regular');
      display: block;
    }

    @include screen(medium) {
      @include font('montserrat', '24', 'regular');
    }
  }

  &__icon {
    display: none;
    width: 25%;
    max-width: 160px;

    @include screen(small) {
      display: block;
    }
  }

  &__title {
    position: relative;
    top: -5vh;

    text-transform: uppercase;
    text-align: center;
    margin: 0;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: clamp(2rem, 15vw, 10rem);

    @include screen(small) {
      top: -7vh;
    }

    @include screen(medium) {
      top: -10vh;
    }
  }
}
