.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;

  &__logo {
    width: 45px;
    height: 35px;
  }

  &__nav {
    display: none;

    @include screen(medium) {
      display: inline;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    gap: 25px;

    @include transition(gap);

    @include screen(large) {
      gap: 50px;
    }
  }

  &__nav-link {
    @include font('montserrat', '20', 'regular');
    color: var(--text-main);

    @include transition(color);
  }

  &__nav-link:hover,
  &__nav-link:active,
  &__nav-link:focus {
    color: var(--accent-main);
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    stroke-width: 0;
    fill: black;

    @include transition(fill);

    cursor: pointer;

    &-mobile {
      @include screen(medium) {
        display: none;
      }
    }
  }

  &__icon:hover {
    fill: var(--accent-main);
  }
}

.header-modal {
  background-color: var(--accent-main);
  
  position: fixed;
  z-index: 2;
  inset: 0;
  
  width: 100%;
  height: 100%;

  overflow: hidden;

  display: flex;
  justify-content: center;
  
  transition-property: translateX(0);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  opacity: 100%;

  
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  
  &__icon {
    position: absolute;
    top: 16px;
    right: 16px; 

    width: 20px;
    height: 20px;
    stroke: var(--text-secondary);

    cursor: pointer;
  }

  &__logo {
    width: 45px;
    height: 35px;
    fill: var(--text-secondary);
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;

    &-link {
      @include font('montserrat', '20', 'regular');
      color: var(--text-secondary);
    }
  }
}