.overlay {
  background-color: var(--background-overlay);
  opacity: 100%;

  height: 100%;
  width: 100%;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-x: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  @include transition(opacity);
}

.modal-newsletter {
  background-color: var(--background-main);
  width: clamp(272px, 90%, 588px);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include screen(large) {
    width: clamp(588px, 90%, 860px);
  }

  @include screen(large) {
    width: 860px;
    flex-direction: row;
  }

  &__icon {
    stroke: var(--text-main);
    width: 24px;
    height: 24px;

    position: absolute;
    top: 10px;
    right: 10px;

    z-index: 2;

    cursor: pointer;

    @include transition(stroke);

    &:hover {
      stroke: var(--accent-main);
    }
  }

  &__image {
    object-fit: cover;

    height: 121px;

    @include transition(height);

    @include screen(medium) {
      height: 271px;
    }

    @include screen(large) {
      height: 528px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;

    max-width: 320px;
    margin: 18px auto;
    padding: 0 16px;

    text-align: center;

    @include screen(medium) {
      max-width: 400px;
    }
  }

  &__title {
    @include font('montserrat', '18', 'semi-bold');
    margin: 0;

    @include screen(medium) {
      @include font('montserrat', '28', 'semi-bold');
    }
  }

  &__text {
    @include font('montserrat', '12', 'regular');
    color: var(--text-light);
    line-height: 130%;
    margin: 0;

    @include screen(medium) {
      @include font('montserrat', '16', 'regular');
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    width: 100%;

    &-label {
      @include font('montserrat', '10', 'medium');
      color: var(--text-light);

      @include screen(medium) {
        @include font('montserrat', '14', 'medium');
      }
    }

    &-input {
      @include font('montserrat', '12', 'medium');

      border: 1px solid var(--input-border);
      border-radius: 4px;

      width: 100%;
      height: 37px;

      padding: 0 12px;
      margin: 0 0 10px;

      @include transition(border-color, color);

      @include screen(medium) {
        height: 50px;
      }
    }

    &-input:hover,
    &-input:active,
    &-input:focus-within {
      border-color: var(--accent-main);
    }

    &-input::placeholder {
      @include font('montserrat', '12', 'medium');
      color: var(--text-light);
    }
  }
}
